<?xml version="1.0"?>
<launch>
  <arg name="x" default="0.15" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.02" />
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="0.0" />
  <arg name="sdf_file" default="$(find open_manipulator_gazebo)/models/ball.sdf"/>
  <arg name="obj_name" default="ball"/>

  <node name="$(arg obj_name)_spawn_sdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-file $(arg sdf_file) -sdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg obj_name)"/>
</launch>